/* add [data-theme='dark'] */
[data-theme='dark'] {
/* :root { */

  --color-background: #272727;
  --color-background-body: #313131;
  --color-background-hover: #292929;
  --color-background-clicked: #FCFCFC;
  --color-background-info-hover: #313131;
  --color-background-mark: #303030;

  --color-font: #EDEFF2;
  --color-font-1: #EDEFF2;
  --color-font-2: #DCDEE0;
  --color-font-3: #CACCCF;
  --color-font-4: #B9BABD;
  --color-font-5: #A7A8AB;
  --color-font-6: #969799;
  --color-font-7: #848587;
  --color-font-8: #737475;
  --color-font-9: #616263;
  --color-font-10: #505152;
  --color-font-10-rgb: 80, 81, 82;

  /* HSB: Hue 210, Saturation 5, Brightness 25 */

  --color-gray-1: #C9CCCF;
  --color-gray-1-rgb: 238, 238, 238;
  --color-gray-2: #B9BCBF;
  --color-gray-2-rgb: 220, 220, 220;
  --color-gray-3: #A9ABAE;
  --color-gray-3-rgb: 198, 198, 198;
  --color-gray-4: #989B9E;
  --color-gray-4-rgb: 177, 177, 177;
  --color-gray-5: #888B8D;
  --color-gray-5-rgb: 160, 160, 160;
  --color-gray-6: #787B7D;
  --color-gray-6-rgb: 135, 135, 135;
  --color-gray-7: #66696C;
  --color-gray-7-rgb: 122, 122, 122;
  --color-gray-8: #585A5C;
  --color-gray-8-rgb: 96, 96, 96;
  --color-gray-9: #474A4C;
  --color-gray-9-rgb: 50, 51, 52;
  --color-gray-10: #303030;
  --color-gray-10-rgb: 25, 25, 25;

  --color-border: #303030;
  --color-border-rgb: 48, 48, 48;

  --color-border-l: #2E2E2E;
  --color-border-l-rgb: 240, 240, 245;

  --color-border-1: #EBF0F5;
  --color-border-1-rgb: 235, 240, 245;
  --color-border-2: #CDD2D7;
  --color-border-2-rgb: 205, 210, 215;
  --color-border-3: #B9BEC3;
  --color-border-3-rgb: 185, 190, 195;
  --color-border-4: #A5AAAF;
  --color-border-4-rgb: 165, 170, 175;
  --color-border-5: #91969B;
  --color-border-5-rgb: 145, 150, 155;
  --color-border-6: #7D8287;
  --color-border-6-rgb: 125, 130, 135;
  --color-border-7: #696E73;
  --color-border-7-rgb: 105, 110, 115;
  --color-border-8: #555A5F;
  --color-border-8-rgb: 85, 90, 95;
  --color-border-9: #454545;
  --color-border-9-rgb: 65, 70, 75;
  --color-border-10: #2E2E2E;
  --color-border-10-rgb: 45, 50, 55;
  --color-border-11: #2E2E2E;
  --color-border-12: #2E2E2E;

  --color-chart-axis: #303030;
  
  --color-red-1: #9A0808;
  --color-red-2: #B50909;
  --color-red-3: #CD4B4B;
  --color-red-4: #C44444;
  --color-red-5: #DB7676;
  
  --color-blue-1: #052850;
  --color-blue-2: #1E508C;
  --color-blue-3: #1667AE;
  --color-blue-4: #5F8CC8;
  --color-blue-5: #8CAACD;
  
  --color-green-1: #0A4B32;
  --color-green-2: #267251;
  --color-green-3: #4B9B78;
  --color-green-4: #6EAD92;
  --color-green-5: #9AC9B5;

  --color-yellow-1: #F0E628;
  --color-yellow-2: #EBE44A;
  --color-yellow-3: #E6E16C;
  --color-yellow-4: #E1DF8D;
  --color-yellow-5: #DCDCAF;

  --color-purple-5: #ADA64F;
  --color-green-5: #19824B;

  --color-logo-helmet: #919BA5;
  --color-logo-visor: #CDD2D7;

  --menu-separator-border-color: var(--color-background-body);
  
  --menu-color-metodology: #638AA4;

  --header-border: #2E2E2E;

  /* #B9BABD */
  --menu-icon-filter: brightness(0) saturate(100%) invert(88%) sepia(4%) saturate(170%) hue-rotate(187deg) brightness(86%) contrast(89%);
  
  --menu-letter-spacing: 0.03125rem;

  --menu-logo-background: #4C575E;
  --menu-logo-background: #4A4F53;
  --menu-logo-box-shadow: none; 
  --menu-logo-line-stroke: var(--color-border-2);
  --menu-logo-line-stroke-closed: var(--color-border-2);
  
  --menu-font-color: var(--color-font-3);
  --menu-font-color-hover: var(--color-font-5);
  --menu-font-size: 0.875rem;
  --menu-font-weight: 550;
  --menu-font-spacing: 0.015625rem;
  
  --menu-border-color-opened: var(--color-border-10);
  --menu-border-opended-box-shadow: 0rem 0.065rem 0.0625rem 0rem #202020, 0rem 0.1875rem 0.0625rem 0rem #252525;

  --menu-background: var(--color-background);

  --menu-subtitle-font-color: var(--color-font-4);

  --menu-segment-color-1: #4F779F;
  --menu-segment-color-1-rgb: 79, 119, 159;

  --menu-segment-color-2: #C44F45;
  --menu-segment-color-2-rgb: 196, 79, 69;

  --menu-segment-color-3: #4A9268;
  --menu-segment-color-3-rgb: 74, 146, 104;

  --menu-segment-color-4: #3A4959;
  --menu-segment-color-4-rgb: 35, 45, 55;

  --menu-desc-color: var(--color-font-8);

  --main-color: var(--color-font-2);

  --flag-icon-box-shadow: none;

  --aggregation-box-background: #262626;

  --border-radius-1: 0.5rem;
  --border-radius-2: 0.75rem;
  --border-radius-3: 1rem;
  --border-radius-4: 1.5rem;
  --border-radius-5: 2rem;
  --border-radius-6: 0.3rem;
  --border-radius-7: 0.25rem;
  --border-radius-8: 1.75rem;

  --letter-spacing-025: 0.015625rem;
  --letter-spacing-05: 0.03125rem;
  --letter-spacing-1: 0.0625rem;

  --header-height: 2.75rem;
  --header-padding-top: 2.8125rem;
  --header-side-padding: 3.25rem;
  --page-side-padding: 4rem;

  --guide-color: #B4B4B4;
  --guide-color-title: #B4B4B4;
  --guide-color-light: #737980;
  --guide-weight: 500;

  --guide-letter-spacing: auto;
  --guide-toc-color: #B4B4B4;
  --guide-toc-color-active: #2E5D8F;
  --guide-toc-weight: 450;
  --guide-toc-weight-active: 625;
  --guide-toc-marker-color: #B6BABF;
  --guide-toc-marker-color-active: #56718F;

  --text-weight-bold: 725;
  --text-weight-semibold: 650;

  --img-border-color: #242424;
  --img-background: #272727;
  --img-background-1: #262626;
  --box-shadow-img: #202020 0rem 0rem 0.375rem 0rem inset;
  --box-shadow-img-1: #202020 0rem 0rem 0.3125rem 0rem inset;

  --season-next-event-name-font-weight: 500;

  --season-statistics-separator-color: var(--color-background-body);

  --dropdown-height: 2rem;
  --dropdown-font-size: 0.875rem;
  --dropdown-font-weight: 600;
  --dropdown-color: var(--color-font-2);
  --dropdown-item-hover: #323232;
  --dropdown-item-active: #373737;
  --dropdown-item-disabled: #87919B;
  --dropdown-scrollbar-color: #323232;
  --dropdown-border: var(--color-border-10);
  --dropdown-border-left-width: 0.25rem;
  --dropdown-radius: var(--border-radius-1);
  /* --dropdown-menu-box-shadow: 0rem 0.1875rem 0.1875rem -0.125rem #303030; */

  --tooltip-background: #292929;
  --tooltip-border-color: #37393B;
  --tooltip-border-color-1: #37393B;
  --tooltip-text-color: var(--color-font-4);
  --tooltip-text-weight: 600;
  --tooltip-title-color: var(--color-font-1);
  --tooltip-title-weight: 675;

  --logo-title-weight: 600;
  --logo-title-text-shadow: rgba(0, 0, 0, 0.025) 0.0625rem 0.0625rem 0.0625rem;

  --submenu-border: var(--color-border);
  --submenu-border-radius: 0.75rem;
  /* --submenu-box-shadow: rgba(136, 136, 156, 0.1) 0rem 0rem 0.125rem; */
  --submenu-box-shadow: none;
  
  --menu-years-item-color-selected: var(--color-font-1);

  --menu-events-abb-item-font-size: 0.6875rem;
  --menu-events-abb-item-weight: 650;
  --menu-events-abb-item-weight-active: 700;
  --menu-events-abb-item-color: #919799;
  --menu-events-abb-item-color-hover: #8A4141;
  --menu-events-abb-item-color-active: var(--color-font-1);
  /* --menu-events-abb-item-text-shadow: none; */
  --menu-events-abb-item-text-shadow: rgba(0, 0, 0, 0.025) 0.0625rem 0.0625rem 0.0625rem;
  /* --menu-events-abb-item-text-shadow-active: none; */
  --menu-events-abb-item-text-shadow-active: rgba(0, 0, 0, 0.05) 0.0625rem 0.0625rem 0.0625rem;
  --menu-events-abb-item-border-color-active: #8A4141;
  --menu-events-abb-item-weight-na: 500;

  --menu-events-abb-item-na-color: #4E5052;

  --menu-racesprint-size: 0.6875rem;
  --menu-racesprint-weight: 650;
  --menu-racesprint-color: var(--color-font-4);
  --menu-racesprint-color-hover: #5A8268;
  --menu-racesprint-border-color-selected: #508060;

  --scroll-menu-color: var(--color-font-4);

  --aggreagation-table-header-background: #303030;
  --aggreagation-table-1-title-font-size: 0.625rem;
  --aggreagation-table-1-title-weight: 675;
  --aggreagation-table-1-title-line-height: 1.5rem;

  --aggregation-elements-font-size: 0.71875rem;
  --aggregation-elements-font-weight: 650;
  --aggregation-elements-font-color: var(--color-font-3);
  --aggregation-elements-line-height: 1.4375rem;
  
  --aggregation-elements-1-line-height: 1.4375rem;

  --aggregation-summary-title-font-size: 0.75rem;
  --aggregation-summary-team-font-size: 0.75rem;
  --aggreagation-summary-metric-font-size: 1.125rem;

  --aggreagation-summary-title-weight: 825;
  --aggreagation-summary-team-weight: 650;
  --aggreagation-summary-metric-weight: 800;
  
  --years-menu-height: 2.5rem;
  --season-years-menu-height: 3rem;

  --text-1-color: #B6BCBF;
  --text-1-font-size: 0.875rem;
  --text-1-font-weight: 600;
  --text-2-letter-spacing: 0.015625rem;

  --theme-saturation: 0.85;
  --theme-img-opacity: 0.8;
  --theme-icon-flag-1-opacity: 0.8;
  --theme-icon-weather-opacity: 0.7;

  --driver-card-box-shadow: none;
  --driver-card-border: var(--color-border-10);

  --aggregation-box-border-color: #252525;
  --aggregation-box-box-shadow: rgba(0, 0, 0, 0.1) 0rem 0rem 0.2rem inset;
  --aggregation-box-box-shadow-hover: rgba(0, 0, 0, 0.2) 0rem 0rem 0.4375rem inset;
  
  --by-teammate-chart-weight: 575;

  --radio-border: #474A4C;
  --radio-point-fill: #797D80;
  --radio-text-size: 0.875rem;
  --radio-text: #797D80;
  --radio-text-weight: 550;

  --color-d3-axis: #505050;

  --event-categories-color: var(--color-font-7);
  --event-categories-color-active: var(--color-font-4);
  --event-categories-color-passive: #5F6164;
  --event-categories-font-weight-active: 700;
  --event-categories-text-shadow-active: none;
  --event-categories-circle-lighter-opacity: 0.5;

  --timing-actions-tickalbel-weight-active: 750;

  --color-table-row-cover: #37393B;
  --color-table-row-cover-rgb: 55, 57, 59;

  --chart-line-1-line-clicked-shadow: drop-shadow(0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2));

  --link-color: var(--color-font-2);
  --link-weight: 600;

  --error-message-1-height: 1.5rem;
  
  --plot-p6jf2t-width: 30rem;
  
  --img-5-width: 9rem;
  
  --width-ro4wmx: 17.5rem;

  --color-slider-hover: #B3B7BA;
  --color-slider-active: #B3B7BA;

  --icon-filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(13%) hue-rotate(160deg) brightness(96%) contrast(90%);;
  --icon-filter-active: brightness(0) saturate(100%) invert(93%) sepia(17%) saturate(0%) hue-rotate(306deg) brightness(89%) contrast(84%);
  --icon-filter-active-3: brightness(0) saturate(100%) invert(47%) sepia(26%) saturate(1455%) hue-rotate(314deg) brightness(88%) contrast(86%);

  /* #BBBBBB */
  --icon-filter-hover: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(92%) contrast(80%);

  /* #BBBBBB */
  --icon-theme-filter-active: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(625%) hue-rotate(141deg) brightness(89%) contrast(78%);

  --fieldset-circle-decor-fill: #292929;

  --n-a-filter: brightness(0) saturate(100%) invert(26%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(111%) contrast(90%);
  --n-a-font-color: #505050;

  --main-page-link-color: #6786AA;

  --img-theme-filter-no-active: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(1%) hue-rotate(0deg) brightness(95%) contrast(97%);

  --desc-table-scrollbar-bakground: #2E2E2E;

  --color-good-pace: #64A476;
  --color-bad-pace: #BDB671;

  --box-shadow-1: rgba(136, 136, 156, 0.1) 0rem 0rem 0.125rem;
  --box-shadow-3: rgba(136, 136, 156, 0.25) 0rem 0.025rem 0.15rem, rgba(136, 136, 156, 0.05) 0rem 0rem 0.1rem;

  --slider-point-width: 0.875rem;
  --slider-point-height: 0.625rem;
  --slider-point-radius: 0.25rem;
  --slider-point-background: var(--color-border-9);

  --line-height-mark: 1.5rem;
  --font-size-mark: 0.625rem;
  --font-weight-mark: 675;

  --desc-font-weight: 450;

  --icon-chart-hover: brightness(0) saturate(100%) invert(46%) sepia(2%) saturate(857%) hue-rotate(169deg) brightness(85%) contrast(83%);
  --icon-chart-active: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(162%) hue-rotate(161deg) brightness(96%) contrast(92%);
  /* #CACCCF */
  --icon-active: brightness(0) saturate(100%) invert(89%) sepia(7%) saturate(86%) hue-rotate(177deg) brightness(92%) contrast(90%);

  --download-b-img-url: url('../img/dark/download.svg');
  --refresh-img-url: url('../img/dark/refresh.svg');
  --info-img-url: url('../img/dark/info.svg');
  --dropdown-caret-url: url('../img/dark/caret-dropdown.svg');
  --nav-f-url: url('../img/dark/nav-f.svg');
  --nav-b-url: url('../img/dark/nav-b.svg');
  --scrolltop-arrow-url: url('../img/dark/scrolltop-arrow.svg');
  --main-logo-url: url('../img/dark/logo.svg');

}
























