/* remove [data-theme='dark'] */
/* :root { */
:root[data-theme='light'] {

  --color-background: #FFFFFF;
  --color-background-body: #EDEDF2;
  --color-background-hover: #FBFBFB;
  --color-background-clicked: #FCFCFC;
  --color-background-info-hover: #F3F3F3;
  --color-background-mark: #FAFAFA;
  
  --color-font: #1D1F21;
  --color-font-1: #1D1F21;
  --color-font-1-rgb: 29, 31, 33;
  --color-font-2: #313335;
  --color-font-3: #444749;
  --color-font-4: #585B5E;
  --color-font-5: #6B6F72;
  --color-font-6: #7F8286;
  --color-font-7: #92969A;
  --color-font-8: #A6AAAF;
  --color-font-9: #B9BEC3;
  --color-font-10: #CDD2D7;

  /* HSB: Hue 210, Saturation 5, Brightness 25 */

  --color-gray-1: #32373C;
  --color-gray-1-rgb: 50, 55, 60;
  --color-gray-2: #464B50;
  --color-gray-2-rgb: 70, 75, 80;
  --color-gray-3: #5A5F64;
  --color-gray-3-rgb: 90, 95, 100;
  --color-gray-4: #6E7378;
  --color-gray-4-rgb: 110, 115, 120;
  --color-gray-5: #82878C;
  --color-gray-5-rgb: 130, 135, 140;
  --color-gray-6: #969BA0;
  --color-gray-6-rgb: 150, 155, 160;
  --color-gray-7: #AAAFB4;
  --color-gray-7-rgb: 170, 175, 180;
  --color-gray-8: #BEC3C8;
  --color-gray-8-rgb: 190, 195, 200;
  --color-gray-9: #D2D7DC;
  --color-gray-9-rgb: 210, 215, 220;
  --color-gray-10: #E6EBF0;
  --color-gray-10-rgb: 230, 235, 240;

  --color-border: #E1E1E6;
  --color-border-rgb: 210, 215, 220;

  /* --color-border-l: #F0F0F5;
  --color-border-l-rgb: 240, 240, 245; */

  --color-border-1: #2D3237;
  --color-border-1-rgb: 45, 50, 55;
  --color-border-2: #41464B;
  --color-border-2-rgb: 65, 70, 75;
  --color-border-3: #555A5F;
  --color-border-3-rgb: 85, 90, 95;
  --color-border-4: #696E73;
  --color-border-4-rgb: 105, 110, 115;
  --color-border-5: #7D8287;
  --color-border-5-rgb: 125, 130, 135;
  --color-border-6: #91969B;
  --color-border-6-rgb: 145, 150, 155;
  --color-border-7: #A5AAAF;
  --color-border-7-rgb: 165, 170, 175;
  --color-border-8: #B9BEC3;
  --color-border-8-rgb: 185, 190, 195;
  --color-border-9: #CDD2D7;
  --color-border-9-rgb: 205, 210, 215;
  --color-border-10: #F0F0F5;
  --color-border-10-rgb: 240, 240, 245;
  --color-border-11: #F7F7F7;
  --color-border-11-rgb: 247, 247, 247;
  --color-border-12: #FBFBFB;

  --color-chart-axis: #F6F6F9;
  
  --color-red-1: #9A0808;
  --color-red-2: #B50909;
  --color-red-3: #CD4B4B;
  --color-red-4: #C44444;
  --color-red-5: #DB7676;
  
  --color-blue-1: #052850;
  --color-blue-2: #1E508C;
  --color-blue-3: #1667AE;
  --color-blue-4: #5F8CC8;
  --color-blue-5: #8CAACD;
  
  --color-green-1: #0A4B32;
  --color-green-2: #267251;
  --color-green-3: #4B9B78;
  --color-green-4: #6EAD92;
  --color-green-5: #9AC9B5;

  --color-yellow-1: #F0E628;
  --color-yellow-2: #EBE44A;
  --color-yellow-3: #E6E16C;
  --color-yellow-4: #E1DF8D;
  --color-yellow-5: #DCDCAF;

  --color-purple-5: #ADA64F;
  --color-green-5: #19824B;

  --color-logo-helmet: #919BA5;
  --color-logo-visor: #CDD2D7;

  --menu-separator-border-color: #E3E3E7;
  
  --menu-color-metodology: #285F96;

  --header-border: #F0F0F5;

  /* #6A6E70 */
  /* --menu-icon-filter: brightness(0) saturate(100%) invert(42%) sepia(1%) saturate(1142%) hue-rotate(155deg) brightness(100%) contrast(87%); */
  --menu-icon-filter: none;
  
  --menu-letter-spacing: 0.015625rem;

  /* --menu-unit-box-shadow: rgba(136, 136, 156, 0.25) 0rem 0.025rem 0.15rem, rgba(136, 136, 156, 0.05) 0rem 0rem 0.1rem; */
  --menu-unit-box-shadow: rgba(136, 136, 156, 0) 0rem 0.025rem 0.1875rem, rgba(136, 136, 156, 0.25) 0rem 0rem 0.25rem;
  /* --menu-unit-box-shadow: var(--driver-card-box-shadow); */

  --menu-logo-background: #8C96A0;
  --menu-logo-box-shadow: rgba(32, 36, 39, 0.5) 0rem 0rem 0.125rem;
  --menu-logo-line-stroke: var(--color-background);
  --menu-logo-line-stroke-closed: var(--color-background);
  
  --menu-font-color: var(--color-font-3);
  --menu-font-color-hover: var(--color-font-6);
  --menu-font-size: 0.875rem;
  --menu-font-weight: 600;
  --menu-font-spacing: 0.015625rem;
  
  --menu-text-shadow: rgba(0, 0, 0, 0.025) 0.0625rem 0.0625rem 0.0625rem;
  --menu-text-shadow-clicked: rgba(0, 0, 0, 0.1) 0.0625rem 0.0625rem 0.0625rem;
  
  --menu-border-color-opened: var(--color-border-10);
  --menu-border-opended-box-shadow: 0rem 0.065rem 0.0625rem 0rem #C2C7CC, 0rem 0.125rem 0.0625rem 0rem #F2F2F2;
  
  --menu-background: var(--color-background);
  
  --menu-subtitle-font-color: var(--color-font-3);
  
  --menu-segment-color-1: #466C92;
  --menu-segment-color-1-rgb: 70, 108, 146;

  --menu-segment-color-2: #B33D32;
  --menu-segment-color-2-rgb: 179, 61, 50;

  --menu-segment-color-3: #4A9268;
  --menu-segment-color-3-rgb: 74, 146, 104;

  --menu-segment-color-4: #3A4959;
  --menu-segment-color-4-rgb: 35, 45, 55;

  --menu-desc-color: var(--color-font-6);

  --main-color: #2E3133;

  --flag-icon-box-shadow: rgba(0, 0, 0, 0.25) 0rem 0rem 0.125rem;
  
  --aggregation-box-background: #FFFFFF;

  --border-radius-1: 0.5rem;
  --border-radius-2: 0.75rem;
  --border-radius-3: 1rem;
  --border-radius-4: 1.5rem;
  --border-radius-5: 2rem;
  --border-radius-6: 0.3rem;
  --border-radius-7: 0.25rem;
  --border-radius-8: 1.75rem;

  --letter-spacing-025: 0.015625rem;
  --letter-spacing-05: 0.03125rem;
  --letter-spacing-1: 0.0625rem;

  --header-height: 2.75rem;
  /* --header-padding-top: 2.8125rem; */
  --header-padding-top: 3.375rem;
  --header-side-padding: 3.25rem;
  --page-side-padding: 4rem;

  --guide-color: #1F2933;
  --guide-color-title: #263340;
  --guide-color-light: #737980;
  --guide-weight: 500;
  
  --guide-letter-spacing: auto;
  --guide-toc-color: #2E3D4D;
  --guide-toc-color-active: #356CA6;
  --guide-toc-weight: 525;
  --guide-toc-weight-active: 625;
  --guide-toc-marker-color: #B6BABF;
  --guide-toc-marker-color-active: #56718F;

  --text-weight-bold: 725;
  --text-weight-semibold: 650;

  --img-border-color: #E6E9ED;
  /* --img-shadow: #E0E3E6; */
  --box-shadow-img: #E0E3E6 0rem 0rem 0.5rem 0rem inset;
  --box-shadow-img-1: #E0E3E6 0rem 0rem 0.3125rem 0rem inset;
  --img-background: #FAFBFB;
  --img-background-1: #FAFBFB;

  /* --img-border-color: #E0E0E3; */
  /* --img-shadow: #D6D6D7; */

  --season-next-event-name-font-weight: 700;

  --season-statistics-separator-color: var(--color-border-10);

  --dropdown-height: 2rem;
  --dropdown-font-size: 0.875rem;
  --dropdown-font-weight: 600;
  --dropdown-color: var(--color-font-2);
  --dropdown-item-hover: #F7F9FA;
  --dropdown-item-active: #EDF1F5;
  --dropdown-item-disabled: #A6AAAF;
  --dropdown-scrollbar-color: #F0F0F5;
  --dropdown-border: var(--color-border-10);
  --dropdown-border-left-width: 0.25rem;
  --dropdown-radius: var(--border-radius-1);
  /* --dropdown-menu-box-shadow: 0rem 0.1875rem 0.1875rem -0.125rem #F1F3F5; */

  --tooltip-background: #FEFFFE;
  --tooltip-border-color: #D2D7DC;
  --tooltip-border-color-1: #F0F3F4;
  --tooltip-text-color: #313335;
  --tooltip-text-weight: 600;
  --tooltip-title-color: #1D1F21;
  --tooltip-title-weight: 675;

  --logo-title-weight: 600;
  --logo-title-text-shadow: rgba(0, 0, 0, 0.025) 0.0625rem 0.0625rem 0.0625rem;

  --submenu-border: var(--color-border-10);
  --submenu-border-radius: 0.75rem;
  --submenu-box-shadow: rgba(136, 136, 156, 0.1) 0rem 0rem 0.125rem;
  /* --submenu-box-shadow: none; */
  
  --menu-years-item-color-selected: var(--color-font-2);
  
  --menu-events-abb-item-font-size: 0.6875rem;
  --menu-events-abb-item-weight: 650;
  --menu-events-abb-item-weight-active: 700;
  --menu-events-abb-item-color: #6D7073;
  --menu-events-abb-item-color-hover: #B00000;
  --menu-events-abb-item-color-active: var(--color-font-2);
  --menu-events-abb-item-text-shadow: rgba(0, 0, 0, 0.025) 0.0625rem 0.0625rem 0.0625rem;
  --menu-events-abb-item-text-shadow-active: rgba(0, 0, 0, 0.05) 0.0625rem 0.0625rem 0.0625rem;
  --menu-events-abb-item-border-color-active: #CC5252;
  --menu-events-abb-item-weight-na: 650;

  --menu-events-abb-item-na-color: #B6BABF;

  --menu-racesprint-size: 0.6875rem;
  --menu-racesprint-weight: 650;
  --menu-racesprint-color: var(--color-font-2);
  --menu-racesprint-color-hover: #398B56;
  --menu-racesprint-border-color-selected: #5A966F;

  --scroll-menu-color: var(--color-font-5);

  --aggreagation-table-header-background: #FAFAFA;
  --aggreagation-table-1-title-font-size: 0.625rem;
  --aggreagation-table-1-title-weight: 675;
  --aggreagation-table-1-title-line-height: 1.5rem;

  --aggregation-elements-font-size: 0.71875rem;
  --aggregation-elements-font-weight: 650;
  --aggregation-elements-font-color: var(--color-font-3);
  --aggregation-elements-line-height: 1.4375rem;
  
  --aggregation-elements-1-line-height: 1.4375rem;

  --aggregation-summary-title-font-size: 0.75rem;
  --aggregation-summary-team-font-size: 0.75rem;
  --aggreagation-summary-metric-font-size: 1.125rem;

  --aggreagation-summary-title-weight: 825;
  --aggreagation-summary-team-weight: 650;
  --aggreagation-summary-metric-weight: 800;

  --years-menu-height: 2.5625rem;
  --season-years-menu-height: 3rem;
  
  --text-1-color: #3D3E40;
  --text-1-font-size: 0.875rem;
  --text-1-font-weight: 600;
  --text-2-letter-spacing: 0.015625rem;

  --theme-saturation: 1;
  --theme-img-opacity: 1;
  --theme-icon-flag-1-opacity: 1;
  --theme-icon-weather-opacity: 1;
  
  --driver-card-box-shadow: rgba(136, 136, 156, 0.1) 0rem 0rem 0.125rem;
  --driver-card-border: #EAEAF1;

  --aggregation-box-border-color: var(--color-border-10);
  --aggregation-box-box-shadow: rgba(0, 0, 0, 0.1) 0rem 0rem 0.175rem inset;
  --aggregation-box-box-shadow-hover: rgba(0, 0, 0, 0.25) 0rem 0rem 0.25rem inset;
  
  --by-teammate-chart-weight: 575;
  
  --radio-border: #D2D7DC;
  --radio-point-fill: #909090;
  --radio-text-size: 0.875rem;
  --radio-text: #313335;
  --radio-text-weight: 550;

  --color-d3-axis: #D6DBE0;

  --event-categories-color: #92969A;
  --event-categories-color-active: #444749;
  --event-categories-color-passive: var(--color-font-5);
  --event-categories-font-weight-active: 700;
  --event-categories-text-shadow-active: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.05), 0.0625rem -0.0625rem 0.0625rem rgba(255,255,255,0.1);
  --event-categories-circle-lighter-opacity: 0.5;

  --timing-actions-tickalbel-weight-active: 750;
  
  --color-table-row-cover: #E6EBF0;
  --color-table-row-cover-rgb: 235, 240, 245;
  
  --chart-line-1-line-clicked-shadow: drop-shadow(0.0625rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.1));
  
  --link-color: #155B8C;
  --link-weight: 600;
  
  --error-message-1-height: 1.5rem;
  
  --plot-p6jf2t-width: 30rem;
  
  --img-5-width: 9rem;
  
  --width-ro4wmx: 17.5rem;

  --color-slider-hover: #74787A;
  --color-slider-active: var(--color-gray-6);

  --icon-filter: none;
  --icon-filter-active-background: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(346deg) brightness(105%) contrast(101%);
  --icon-filter-active: brightness(0) saturate(100%) invert(73%) sepia(9%) saturate(196%) hue-rotate(173deg) brightness(86%) contrast(95%);
  --icon-filter-active-1: brightness(0) saturate(100%) invert(14%) sepia(52%) saturate(758%) hue-rotate(190deg) brightness(93%) contrast(94%);
  --icon-filter-active-2: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(23%) hue-rotate(165deg) brightness(94%) contrast(77%);
  --icon-filter-active-3: brightness(0) saturate(100%) invert(7%) sepia(98%) saturate(7452%) hue-rotate(6deg) brightness(84%) contrast(107%);
  
  /* #BBBBBB */
  --icon-filter-hover: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(19%) hue-rotate(157deg) brightness(91%) contrast(79%);
  
  /* #606060 */
  --icon-theme-filter-active: brightness(0) saturate(100%) invert(36%) sepia(13%) saturate(0%) hue-rotate(271deg) brightness(92%) contrast(77%);

  --fieldset-circle-decor-fill: #F2F2F2;

  --n-a-filter: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(85%) contrast(93%);
  --n-a-font-color: #BBBBBB;

  --main-page-link-color: #2F65A2;

  --img-theme-filter-no-active: none;

  --desc-table-scrollbar-thumb: var(--color-border);

  --color-good-pace: #47AC64;
  --color-bad-pace: #DDB93D;

  --box-shadow-1: rgba(136, 136, 156, 0.1) 0rem 0rem 0.125rem;
  --box-shadow-2: rgba(0, 0, 0, 0.5) 0rem 0rem 0.125rem;
  --box-shadow-3: rgba(136, 136, 156, 0.25) 0rem 0.025rem 0.15rem, rgba(136, 136, 156, 0.05) 0rem 0rem 0.1rem;

  --slider-point-width: 0.875rem;
  --slider-point-height: 0.625rem;
  --slider-point-radius: 0.25rem;
  --slider-point-background: var(--color-border-9);

  --line-height-mark: 1.5rem;
  --font-size-mark: 0.625rem;
  --font-weight-mark: 675;

  --desc-font-weight: 500;

  /* #969BA0 */
  /* --icon-chart-hover: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(257%) hue-rotate(169deg) brightness(86%) contrast(86%); */
  /* #AAAFB4 */
  --icon-chart-hover: brightness(0) saturate(100%) invert(75%) sepia(5%) saturate(312%) hue-rotate(169deg) brightness(95%) contrast(86%);
  /* #82878C */
  --icon-chart-active: brightness(0) saturate(100%) invert(56%) sepia(8%) saturate(238%) hue-rotate(169deg) brightness(92%) contrast(87%);
  /* #B00000 */
  /* --icon-chart-active: brightness(0) saturate(100%) invert(9%) sepia(97%) saturate(5490%) hue-rotate(3deg) brightness(90%) contrast(115%); */
  /* #464B50 */
  --icon-active: brightness(0) saturate(100%) invert(30%) sepia(3%) saturate(1315%) hue-rotate(169deg) brightness(90%) contrast(93%);
    /* #D2D7DC */
  --icon-disabled: brightness(0) saturate(100%) invert(85%) sepia(8%) saturate(148%) hue-rotate(169deg) brightness(104%) contrast(86%);

  --download-b-img-url: url('../img/light/download.svg');
  --refresh-img-url: url('../img/light/refresh.svg');
  --info-img-url: url('../img/light/info.svg');
  --dropdown-caret-url: url('../img/light/caret-dropdown.svg');
  --nav-f-url: url('../img/light/nav-f.svg');
  --nav-b-url: url('../img/light/nav-b.svg');
  --scrolltop-arrow-url: url('../img/light/scrolltop-arrow.svg');
  --main-logo-url: url('../img/light/logo.svg');
  --img-src-no-found: url('../img/light/logo.svg');

}
























