/* add [data-theme='dark'] */
:root[data-theme='dark'] {
/* :root { */

  --color-background: #272727;
  --color-background-body: #313131;

  --color-font: #C9CCCF;
  --color-font-1: #C9CCCF;
  --color-font-2: #BFC2C5;
  --color-font-3: #B4B8BB;
  --color-font-4: #A7ABAF;
  --color-font-5: #9CA1A5;
  --color-font-6: #91969C;
  --color-font-7: #878C92;
  --color-font-8: #7C8288;
  --color-font-9: #72787E;
  --color-font-10: #686E73;
  --color-font-10-rgb: 90, 90, 90;

  /* HSB: Hue 210, Saturation 5, Brightness 25 */

  --color-gray-1: #C9CCCF;
  --color-gray-1-rgb: 238, 238, 238;
  --color-gray-2: #B9BCBF;
  --color-gray-2-rgb: 220, 220, 220;
  --color-gray-3: #A9ABAE;
  --color-gray-3-rgb: 198, 198, 198;
  --color-gray-4: #989B9E;
  --color-gray-4-rgb: 177, 177, 177;
  --color-gray-5: #888B8D;
  --color-gray-5-rgb: 160, 160, 160;
  --color-gray-6: #787B7D;
  --color-gray-6-rgb: 135, 135, 135;
  --color-gray-7: #66696C;
  --color-gray-7-rgb: 122, 122, 122;
  --color-gray-8: #585A5C;
  --color-gray-8-rgb: 96, 96, 96;
  --color-gray-9: #474A4C;
  --color-gray-9-rgb: 50, 51, 52;
  --color-gray-10: #303030;
  --color-gray-10-rgb: 25, 25, 25;

  --color-border: #303030;
  --color-border-rgb: 48, 48, 48;

  --color-border-1: #EBF0F5;
  --color-border-1-rgb: 235, 240, 245;
  --color-border-2: #CDD2D7;
  --color-border-2-rgb: 205, 210, 215;
  --color-border-3: #B9BEC3;
  --color-border-3-rgb: 185, 190, 195;
  --color-border-4: #A5AAAF;
  --color-border-4-rgb: 165, 170, 175;
  --color-border-5: #91969B;
  --color-border-5-rgb: 145, 150, 155;
  --color-border-6: #7D8287;
  --color-border-6-rgb: 125, 130, 135;
  --color-border-7: #696E73;
  --color-border-7-rgb: 105, 110, 115;
  --color-border-8: #555A5F;
  --color-border-8-rgb: 85, 90, 95;
  --color-border-9: #41464B;
  --color-border-9-rgb: 65, 70, 75;
  --color-border-10: #2D3237;
  --color-border-10-rgb: 45, 50, 55;
  
  --color-red-1: #9A0808;
  --color-red-2: #B50909;
  --color-red-3: #CD4B4B;
  --color-red-4: #C44444;
  --color-red-5: #DB7676;
  
  --color-blue-1: #052850;
  --color-blue-2: #1E508C;
  --color-blue-3: #1667AE;
  --color-blue-4: #5F8CC8;
  --color-blue-5: #8CAACD;
  
  --color-green-1: #0A4B32;
  --color-green-2: #267251;
  --color-green-3: #4B9B78;
  --color-green-4: #6EAD92;
  --color-green-5: #9AC9B5;

  --color-yellow-1: #F0E628;
  --color-yellow-2: #EBE44A;
  --color-yellow-3: #E6E16C;
  --color-yellow-4: #E1DF8D;
  --color-yellow-5: #DCDCAF;

  --color-purple-5: #ADA64F;
  --color-green-5: #19824B;

  --color-logo-helmet: #919BA5;
  --color-logo-visor: #CDD2D7;

  --menu-color: var(--color-font-1);
  --menu-color-metodology: #638AA4;
  --menu-icon-filter: brightness(0) saturate(100%) invert(87%) sepia(6%) saturate(123%) hue-rotate(169deg) brightness(90%) contrast(88%);
  
  --menu-letter-spacing: 0.03125rem;
 
  --menu-border-color: #404040;
  --menu-border-color-opened: #303030;

  --menu-subtitle-font-size: 0.8125rem;
  --menu-subtitle-font-weight: 575;
  --menu-subtitle-font-spacing: 0.015625rem;
  --menu-subtitle-text-shadow: rgba(0, 0, 0, 0.025) 0.0625rem 0.0625rem 0.0625rem;

  --menu-segment-title-color-1: #7190AE;
  --menu-segment-background-1-rgb: 80, 140, 200;

  --menu-segment-title-color-2: #B65B53;
  --menu-segment-background-2-rgb: 200, 80, 70;

  --menu-segment-title-color-3: #6EA27B;
  --menu-segment-background-3-rgb: 100, 180, 120;

  --main-color: var(--color-font-2);

  --aggregation-box-background: #262626;

  --border-radius-1: 0.5rem;
  --border-radius-2: 0.75rem;
  --border-radius-3: 1rem;
  --border-radius-4: 1.5rem;
  --border-radius-5: 2rem;

  --letter-spacing-05: 0.015625rem;
  --letter-spacing-1: 0.0625rem;

  --header-height: 2.5rem;

  --guide-color: #B4B4B4;
  --guide-color-title: #B4B4B4;
  --guide-color-light: #737980;
  --guide-weight: 500;

  --guide-letter-spacing: auto;
  --guide-toc-color: #B4B4B4;
  --guide-toc-color-active: #2E5D8F;
  --guide-toc-weight: 450;
  --guide-toc-weight-active: 625;
  --guide-toc-marker-color: #B6BABF;
  --guide-toc-marker-color-active: #56718F;

  --text-weight-bold: 725;
  --text-weight-semibold: 650;

  --img-border-color: #232323;
  --img-background: #292929;
  --img-background-1: #262626;
  --img-shadow: #222222;

  --season-next-event-name-font-weight: 500;

  --dropdown-height: 2rem;
  --dropdown-title-font-size: 0.875rem;
  --dropdown-title-font-weight: 600;
  --dropdown-title-font-color: var(--color-font-3);
  --dropdown-item-font-size: 0.875rem;
  --dropdown-item-font-weight: 550;
  --dropdown-item-line-height: 2rem;
  --dropdown-item-hover: #323232;
  --dropdown-item-active: #373737;
  --dropdown-scrollbar-color: #323232;
  --dropdown-menu-box-shadow: 0rem 0.1875rem 0.1875rem -0.125rem #303030;

  --dropdown-c-scrollbar-color: #323232;
  --dropdown-c-item-hover: #323232;
  --dropdown-c-item-active: #373737;

  --tooltip-background: #292929;
  --tooltip-border-color: #37393B;
  --tooltip-border-color-1: #37393B;
  --tooltip-text-color: var(--color-font-4);
  --tooltip-text-weight: 600;
  --tooltip-title-color: var(--color-font-1);
  --tooltip-title-weight: 675;

  --logo-title-weight: 600;
  --logo-title-text-shadow: rgba(0, 0, 0, 0.025) 0.0625rem 0.0625rem 0.0625rem;

  --menu-years-item-weight: 525;
  --menu-years-item-weight-active: 600;
  --menu-years-item-color: #919799;
  --menu-years-item-color-hover: var(--color-font-2);
  --menu-years-item-color-active: var(--color-font-1);
  --menu-years-item-text-shadow: rgba(0, 0, 0, 0.5) 0.0625rem 0.0625rem 0.0625rem;
  --menu-years-item-border-color-active: #476A89;

  --menu-events-abb-item-font-size: 0.6875rem;
  --menu-events-abb-item-weight: 650;
  --menu-events-abb-item-weight-active: 700;
  --menu-events-abb-item-color: #919799;
  --menu-events-abb-item-color-active: var(--color-font-1);
  --menu-events-abb-item-text-shadow: rgba(0, 0, 0, 0.5) 0.0625rem 0.0625rem 0.0625rem;
  --menu-events-abb-item-border-color-active: #8A4141;
  --menu-events-abb-item-weight-na: 500;

  --menu-events-abb-item-na-color: #4E5052;

  --aggreagation-table-1-title-font-size: 0.625rem;
  --aggreagation-table-1-title-weight: 650;
  --aggreagation-table-1-title-line-height: 1.5rem;

  --aggregation-elements-font-size: 0.71875rem;
  --aggregation-elements-font-weight: 650;
  --aggregation-elements-font-color: var(--color-font-3);
  --aggregation-elements-active-font-weight: 725;
  --aggregation-elements-clicked-font-weight: 750;
  --aggregation-elements-line-height: 1.4375rem;
  
  --aggregation-elements-1-line-height: 1.4375rem;
  
  --aggregation-summary-title-font-size: 0.75rem;
  --aggregation-summary-team-font-size: 0.75rem;
  --aggreagation-summary-metric-font-size: 1.125rem;

  --aggreagation-summary-title-weight: 825;
  --aggreagation-summary-team-weight: 650;
  --aggreagation-summary-metric-weight: 800;
  
  --season-years-menu-height: 3rem;
  
  --event-years-menu-height: 3rem;
  --event-abbs-menu-height: 2rem;

  --event-comparison-color: var(--color-font-6);

  --text-1-color: #B6BCBF;
  --text-1-font-size: 0.875rem;
  --text-1-font-weight: 600;
  --text-2-letter-spacing: 0.015625rem;

    /* filter: saturate(var(--theme-saturation)); */
  --theme-saturation: 0.85;
  --theme-img-opacity: 0.8;
  --theme-icon-flag-1-opacity: 0.8;
  --theme-icon-weather-opacity: 0.7;

  --driver-card-box-shadow: #202020 0rem 0rem 0.3rem;

  --aggregation-box-border-color: #252525;
  --aggregation-box-box-shadow: rgba(0, 0, 0, 0.1) 0rem 0rem 0.4375rem inset;
  --aggregation-box-box-shadow-hover: rgba(0, 0, 0, 0.25) 0rem 0rem 0.4375rem inset;

  --drivers-metric-title-weight: 625;
  
  --by-teammate-weight: 475;
  --by-teammate-chart-weight: 575;

  --radio-border: #474A4C;
  --radio-point-fill: #797D80;
  --radio-text-size: 0.875rem;
  --radio-text: #797D80;
  --radio-text-weight: 550;

  --color-d3-axis: #505050;

  --event-categories-color: var(--color-font-7);
  --event-categories-color-active: var(--color-font-4);
  --event-categories-color-passive: #5F6164;
  --event-categories-font-weight-active: 700;
  --event-categories-text-shadow-active: none;
  --event-categories-circle-lighter-opacity: 0.5;

  --timing-actions-tickalbel-weight-active: 750;

  --color-table-row-cover: #37393B;
  --color-table-row-cover-rgb: 55, 57, 59;

  --chart-line-1-line-clicked-shadow: none;
  --chart-lol-1-label-clicked-shadow: drop-shadow(0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2));
  --chart-lol-1-circle-clicked-shadow: drop-shadow(0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.3));
  --chart-lol-1-std-line-clicked-shadow: drop-shadow(0.125rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2));
  --chart-lol-1-decor-line-clicked-shadow: drop-shadow(0.125rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2));

  --link-color: var(--color-font-2);
  --link-weight: 600;

  --error-message-1-height: 1.5rem;
  
  --comparison-driver-name-font-size: 1.25rem;
  --comparison-driver-name-font-weight: 700;
  
  --comparison-driver-position-font-size: 0.875rem;
  --comparison-driver-position-font-weight: 800;
  
  --comparison-metric-name-font-size: 1.125rem;
  --comparison-metric-name-font-weight: 700;
  --comparison-text-font-weight: 400;
  
  --plot-comparison-width: 28rem;
  --plot-p6jf2t-width: 30rem;
  
  --img-5-width: 9rem;
  --pv2mrz: 5rem;

  --width-ro4wmx: 17.5rem;
  --margin-right-ro4wmx: 2rem;

  --color-slider-hover: #B3B7BA;
  --color-slider-active: #B3B7BA;

  --icon-filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(13%) hue-rotate(160deg) brightness(96%) contrast(90%);;
  --icon-filter-active: brightness(0) saturate(100%) invert(73%) sepia(9%) saturate(196%) hue-rotate(173deg) brightness(86%) contrast(95%);

  --button-up-box-shadow: rgba(112, 112, 112, 0.5) 0rem 0rem 0.15rem;
  --button-up-box-shadow-hover: rgba(80, 80, 80, 0.95) 0rem 0rem 0.275rem;

  --fieldset-circle-decor-fill: #292929;
  
}
























